@import "/home/nikola/.config/colors/catppuccin.css";

* {
    font: Iosevka Nerd Font;
    font-size: 20px;
    border-radius: 10px;
}

#window {
    border-radius: 10px;
    radius: 10px;
    background-color: @crust;
}

#outer-box {
    border-radius: 10px;
    background-color: @base;
}

#inner-box {
    border-radius: 10px;
}

#input {
}   

#scroll {
}

#entry {
    border-radius: 10px;
    color: @text;
}

#entry:selected {
    outline-style: solid;
    outline-radius: 10px;
    background-color: @mantle;
    color: @blue;
}


#text {
}

#text:selected {
    color: @blue;
}

#img {
    margin-right: 5px;
}

