@import "monke.css";

* {
    border: none;
    min-height: 23px;
    font-family: Iosevka Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    border-radius: 0;
}

label.module {
}

label.module {
    padding-left: 5px;
    padding-right: 5px;
    margin: -1px;
    color: @fg2;
    /*border: solid;
    border-width: 1px;
    border-color: @fg2;*/
}

box.module {
    margin-right: 3px;
    margin-left: 3px;
}

window#waybar {
    color: @foreground;
    background: @bg2;
}

tooltip {
}

#workspaces {
    margin: 0;
    padding: 0;
    border: none;
}

#workspaces button {
    color: @fg_sel;
}

#workspaces button.active {
    color: @fg_sel_inv;
    background: @fg_sel;
    border: solid;
    border-width: 2px;
    border-color: @bg2;
}

#workspaces button.focused {
    background: @g;
    color: @g;
}

#workspaces button.urgent {
    background: @fg_sel;
    color: @fg_sel;
}

#workspaces button:hover {
    background: @hover;
    color: @fg_sel;
}

#custom-media,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#custom-cpupower,
#memory,
#temperature,
#workspaces,
#tray,
#backlight,

#tray {
}

#clock {
}

#network {
}

#pulseaudio {
}

#pulseaudio.microphone {
}

#battery {
}

#cpu {
}

#memory {
}


#custom-cpupower {
}


#temperature {
}

.custom-media {
}
